# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Local development
.DS_Store
.vercel

# Project specific
data/raw/*
data/processed/*
data/features/*
models/*
visualizations/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep
!models/.gitkeep
!visualizations/.gitkeep

# Logs
*.log

# Docker
.docker/

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/ 